# Numbers

In [ ]:
a = 7

In [ ]:
b = 3

In [ ]:
a + b

In [ ]:
type(a)

In [ ]:
c= 37.9

In [ ]:
d = 93.7

In [ ]:
c + d

In [ ]:
type(a +d)

In [ ]:
type(c+d)

# Arithmetic Operations

In [ ]:
a + b

In [ ]:
a-b

In [ ]:
a*b

In [ ]:
a/b

In [ ]:
a%b

In [ ]:
a//b

In [ ]:
b//a

In [ ]:
abs(-9)

In [ ]:
abs(9)

# Strings

In [ ]:
some_string ="ITM FCS "

In [ ]:
some_string[2:]

In [ ]:
some_string[0]

In [ ]:
some_string[:4]

In [ ]:
some_string[::2]

In [ ]:
some_string[::-1]

# write a program with string slicing and dicing,in which the string, The quick brown fox jumps over the lazy dog is printed from 5 letter point to last forth letter point with every 3rd consecutive letter

In [ ]:
some_string ="The quick brown fox jumps over the lazy dog"

In [ ]:
some_string[4:-4:3]

In [ ]:
#concadinate

In [ ]:
s = "kiran"

In [ ]:
s =s +"kumar"

In [ ]:
s

In [ ]:
s.isupper()

In [ ]:
s.index('r')

In [ ]:
help(s.count('r'))

In [ ]:
help(s.center)

# lists

- creating list
- indexing and slicing of the list
- basic list methods
- nesting of the list

In [2]:
# A list is defined in this manner
my_list=[1,2,37,4,5,60,97,23,7]

In [3]:
my_wierd_list=["Hey How r u","1",{1,2,3,4},{"key":"value"}]

In [4]:
my_wierd_list[0]

'Hey How r u'

In [5]:
my_wierd_list[-1]

{'key': 'value'}

In [6]:
len(my_wierd_list)

4

# slicing of the list

In [7]:
my_list[2]

37

In [8]:
my_list[::2]

[1, 37, 5, 97, 7]

In [9]:
my_list[0:6:2]

[1, 37, 5]

In [10]:
list_one=["hi","bye","alright","done","okay"]

In [11]:
list_one[3]

'done'

In [12]:
list_one[:2]

['hi', 'bye']

In [13]:
list_one[2::]

['alright', 'done', 'okay']

In [14]:
my_list = my_list +[1,2,3,4,5]

In [15]:
my_list * 2

[1,
 2,
 37,
 4,
 5,
 60,
 97,
 23,
 7,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 37,
 4,
 5,
 60,
 97,
 23,
 7,
 1,
 2,
 3,
 4,
 5]

In [16]:
my_list = [1,37,60,97,23,5,4,2,7] #Reassignment of the list

In [17]:
my_list

[1, 37, 60, 97, 23, 5, 4, 2, 7]

# Basic methods in list

In [18]:
my_list

[1, 37, 60, 97, 23, 5, 4, 2, 7]

In [19]:
my_list.append("k")

In [20]:
my_list

[1, 37, 60, 97, 23, 5, 4, 2, 7, 'k']

In [21]:
my_list.count(60)

1

In [24]:
my_list.index(2)

7

In [28]:
my_list.insert(3,"p") #address,value

In [29]:
my_list

[1, 37, 60, 'p', 'p', 'p', 97, 23, 5, 4, 2, 7, 'k']

In [32]:
my_list.remove('k')

In [33]:
my_list

[1, 37, 60, 'p', 'p', 'p', 97, 23, 5, 4, 2, 7]

In [34]:
my_list.remove('p')

In [35]:
my_list

[1, 37, 60, 'p', 'p', 97, 23, 5, 4, 2, 7]

In [36]:
my_list.reverse()

In [37]:
my_list

[7, 2, 4, 5, 23, 97, 'p', 'p', 60, 37, 1]

# Dictionaries

In [38]:
my_dict = {'key1':'value1','key2':'value2'}

In [39]:
my_dict['key1'] #calling the dictionary key

'value1'

In [48]:
my_dict = {'key1':'value1','key2':307,'key3':{1,2,3,4,5},'key4':{'inside_key1':1}}

In [50]:
my_dict['key4']['inside_key1']

1

In [55]:
my_dict['key3'][2]

TypeError: 'set' object is not subscriptable

In [57]:
my_dict.get('key3')

{1, 2, 3, 4, 5}

In [58]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [59]:
my_dict.values()

dict_values(['value1', 307, {1, 2, 3, 4, 5}, {'inside_key1': 1}])

In [60]:
my_dict.pop('key2')

307

In [63]:
help(my_dict.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [64]:
keys = {a}
value = 'fcs'

SyntaxError: invalid syntax (<ipython-input-64-ee7761e03a17>, line 3)

# Tuples

In [68]:
tup = (1,8,7,2,6,8,9,5,4,3,2)

In [69]:
tup.count(8)

2

In [71]:
tup.index(7)

2

# sets and boolean

In [72]:
x= set()

In [84]:
x.add(3)

In [85]:
x

{3, 7}

In [86]:
x.add(7)

In [87]:
x

{3, 7}

In [77]:
help(x.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [88]:
x.discard(3)

In [90]:
x

{7}

In [92]:
x.intersection

In [97]:
x.pop

In [98]:
x.add(6)

In [99]:
x

{6, 7}

In [102]:
x.add(3)

In [103]:
x

{3, 6, 7}

In [105]:
x.issubset({1,3,6,7})

True

In [109]:
x.isdisjoint({3,6,7})

False

# Boolean

In [111]:
True

True

In [112]:
False

False

0